menuconfig CM_GLITCH_TEXT
    bool "glitch text"

if CM_GLITCH_TEXT
    config GLITCH_TEXT_DEBUG
        bool "debug"

    config GLITCH_TEXT_N_WORKERS
        int "maximum instances"
        default 15

    config GLITCH_TEXT_TASK_INTERVAL
        int "task work interval (ms)"
endif
