[submodule "micropython/src"]
	path = micropython/src
	url = https://github.com/micropython/micropython
[submodule "crash/backtrace"]
	path = crash/backtrace
	url = https://github.com/red-rocket-computing/backtrace
