menu "allocator"

config ALLOC_ALLOCATORS_SIZE
    int "size of array where to track different allocators"
    default 10

config ALLOC_ALLOCATIONS_SIZE
    int "size of array where to track different allocations"
    default 100

endmenu
