menu "allocator"

config ALLOCATOR_DEBUG
    bool "debug"

config ALLOC_ALLOCATORS_SIZE
    int "maximum different allocators"
    default 10

config ALLOC_ALLOCATIONS_SIZE
    int "maximum different allocations"
    default 100

config HEAP_UI_REDRAW_INTERVAL
    int "ui draw interval (ms)"
    default 500
endmenu
