menu "allocator"

config ALLOCATOR_DEBUG
    bool "debug"

config ALLOC_ALLOCATORS_SIZE
    int "maximum different allocators"
    default 10

config ALLOC_ALLOCATIONS_SIZE
    int "maximum different allocations"
    default 100

endmenu
