menuconfig CM_KEYLOG
    bool "keylog"

if CM_KEYLOG
    config KEYLOG_SIZE
        int "maximum length"
        default 70

    config KEYLOG_UI_REDRAW_INTERVAL
        int "ui draw interval (ms)"
        default 100
endif
