menuconfig CM_UI
    bool "ui"

if CM_UI
    config UI_DEBUG
        bool "debug"

    menu "layer"
        config UI_LAYER_REDRAW_INTERVAL
            int "layer draw interval (ms)"
            default 100
    endmenu
endif
