menu "scrolling text"

config SCROLLING_TEXT_DEBUG
    bool "debug"

config SCROLLING_TEXT_N_WORKERS
    int "maximum instances"
    default 15

config SCROLLING_TEXT_TASK_INTERVAL
    int "task work interval (ms)"

endmenu
